:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.App {
  position: relative;
}
.container {
  width: 85%;
  margin: 0 auto;
}
footer {
  text-align: center;
}
footer a {
  color: var(--Orange);
}
.ShowMenu {
  left: 0px !important;
}
.HideMenu {
  left: -370px !important;
}
/* display image classes start */
.showDisplayImage {
  display: flex !important;
}
@media only screen and (max-width: 721px) {
  .showDisplayImage{
    display: none!important;
  }
}
/* display image classes end */
